<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ pageTitle }} - Codename Engine Docs</title>
	<link rel="stylesheet" href="root/style.css">

	<meta name="title" content="{{ pageTitle }} - Codename Engine Docs" />

	<meta name="description" content="Website dedicated to things for Codename Engine!" />
	<meta property="og:description" content="Website dedicated to things for Codename Engine!" />
	<meta property="twitter:description" content="Website dedicated to things for Codename Engine!" />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://codename-engine.com/" />
	<meta property="og:title" content="{{ pageTitle }} - Codename Engine Docs" />
	<meta property="og:image" content="https://codename-engine.com/img/banner.png" />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content="https://codename-engine.com/" />
	<meta property="twitter:title" content="{{ pageTitle }} - Codename Engine Docs" />
	<meta property="twitter:image" content="https://codename-engine.com/img/banner.png" />

	<meta name="theme-color" content="#7f33b8">

	<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

	<link href='https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css' rel='stylesheet' type='text/css' />
</head>
<body class="nojs">
	<script>document.body.classList.remove("nojs");</script>
	<div class="header">
		{{ header }}
	</div>
	<div class="container">
		<div class="content">
			<img class="cover-image" src="{{ cover }}" alt="{{ modName }}">
			<div>
				<h2>{{ modName }} <small> by {{ author }}</small></h2>
				<p>Version: {{ version }}</p>
				<p>Last Updated: {{ lastUpdated }}</p>
				<p>Source: {{ source }}</p>
				<p>Tags: {{ tags }}</p>
				<p>Description: {{ description }}</p>
				<p>Link: {{ link }}</p>

				{{ content }}
			</div>
		</div>
	</div>
</body>
</html>
